/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  height: 150vh;
  padding-top: 30px;
}
.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-input-container {
  display: flex;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 230px;
  padding-left: 16px;
  border-width: 1px;
  border-color: #1e293b;
  border-style: solid;
  margin-top: 20px;
}
.search-input {
  color: #1e293b;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  border: none;
  outline: none;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.tab-container {
  display: flex;
}
.app-container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin-left: 50px;
}
.heading-store {
  font-family: 'Bree serif';
}
